# tasks file for user
---
- name: groups | delete (user)
  group:
    name: "{{ item.group | default(item.name) }}"
    state: absent
  with_items: user_users
  when: item.state is defined and item.state == 'absent'
  tags:
    - user-groups-primary
    - user-groups-primary-remove
